
.login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: #E5E5E5; */
}
.p-red{
    color: red;
}
.login-inner__div {
    background-color: #fff;
    width: 1060px;
    height: 520px;
    display: flex;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.small-logo__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.login-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.login__form {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    height: 100%;
}

.error__text {
    color: red;
    margin-top: 5px;
}

.captcha-form {
    display: flex !important;
}

.captcha__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    direction: rtl;
    padding: 5px;
    width: 120px;
    height: 44px;
    margin-right: 30px;
}

.captcha-form-input {
    width: 120px;
}

.captcha-input {
    direction: rtl;

}

.captcha-image {
    width: 75px;
    height: 40px;
}

.refresh-captcha__img {
    cursor: pointer;
}

.forgot-password-text {
    color: #479FC0;
}