.main-404__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.message-text {
    color: #515C60;
    margin-top: 50px;
    font-size: 50px;
}