html {
  padding: 0px !important;
}

.App {
  text-align: center;
  font-family: IRANSansWeb;
}

textarea:focus, input:focus{
  outline: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}